.sidebar {
    z-index: 20;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 64px;
    height: 100vh;
    padding: 20px 14px;
    background-color: var(--color-black);
    border-radius: 0 8px 8px 0;

    .logo {
        img {}
    }

    .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;

            img {
                display: block;
            }
        }
    }
}